@charset "UTF-8";
html {
    box-sizing: border-box;
  }
  * {
    box-sizing: inherit;
  }
  
  body{
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  /*-----GRID----*/
  
  #container {
      display:grid; 
      grid-template-rows: auto auto auto auto auto;
      grid-template-columns: 1fr; 
      grid-template-areas: 
          'about'
          'column1'
          'column2' 
          'column3'
          'footer';
      background-color: rgba(57, 79, 94, .3);
  }
  
  #item1 {
      grid-area: about;
      text-align: center;
      margin:0px 30px 0px 30px;
  }
  
  #item2 {
      grid-area: column1;
      text-align: center;
  }
  
  #item3 {
      grid-area: column2;
      text-align: center;
  }
  #item4 {
      grid-area: column3;
      text-align: center;
      
  }
  
  #item5 {
      grid-area: footer;
      background-color: rgb(57, 79, 94);
      color: rgb(255, 248, 233);
      text-align: center;
      font-weight: bold;
      padding: 10px;
  }
  
  /*-----HERO IMAGE/HEADER-----*/
  .hero_image{
      background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(images/coffee_shop.jpg);
      height:500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      max-width: 1200px;
      margin: 0 auto;
  }
  .hero_header {
      text-align: left;
      position: absolute;
      color: white;
      top:40%;
      text-shadow: .05em .05em .1em black;
      font-size: 2em;
      margin: 20px;
  }
  
  .hero_text {
      display: none;
      
  }
  
  
  /*-----NAV-----*/
  /* styles main-nav, list-style none - removes bullets
  2 remove margin on main_nav and padding on li*/
  
  .main_nav {
      display: flex;
      align-items: center;
      list-style: none;
      background-color: rgb(57, 79, 94);
      padding: .3em;
      max-width: 1200px;
      margin: 0 auto;
  }
  /*style nav links*/
  .main_nav a{
      color: white;
      padding: 40px 20px;
      text-decoration: none;  
      font-size: 10px;
  }
  /*let's add style to hover for our nav links*/
  .main_nav a:hover {
      background-color: white;
      color: rgb(57, 79, 94);
  }
  /*push logo to left side*/
  li.logo{
      margin-right: auto;
  }
  
  
  /*-----COLUMNS-----*/
  #item2,#item3,#item4 {
      background: rgba(57, 79, 94, .3);
      margin: 10px;
      padding: 40px;
      border: 3px solid rgb(57, 79, 94);
  }
  img {
      max-width: 100%;
      height: auto;
  }
  /*
  .linelength {
      background-color: yellow;
  }*/
  /*-----MEDIA QUERIES-----*/
  /*tablets*/
  @media screen and (min-width: 450px) {
      .main_nav a{
      font-size: 12px;
  }
  }
  /*tablets*/
  @media screen and (min-width: 600px) {
      #container {
      display:grid; 
      grid-template-rows: auto auto auto auto;
      grid-template-columns: 1fr 1fr; 
      grid-template-areas: 
          'about about'
          'column1 column2'
          'column3 column3'
          'footer footer';
      background-color: rgba(57, 79, 94, .3);
      }
      #item1 {
      margin:0px 125px 0px 125px;
  }
   /*style nav links - increase padding and font-size*/
   .main_nav a{
      color: white;
      padding: 60px 40px;
      text-decoration: none;  
      font-size: 14px;
  }
      /*display hero text */
      .hero_text {
          display:block;
          text-align: left;
          position: absolute;
          color: white;
          top: 50%;
          text-shadow: .05em .05em .1em black;
          font-size: large;
          margin: 20px;
  }
  }
  /*computer*/
  /*3 columns*/
  @media screen and (min-width: 800px) {
      #container {
      display:grid; 
      grid-template-rows: auto auto auto ;
      grid-template-columns: 1fr 1fr 1fr; 
      grid-template-areas: 
          'about about about'
          'column1 column2 column3'
          'footer footer footer';
      background-color: rgba(57, 79, 94, .3);
      }
      /*increase margins for about*/
      #item1 p {
      margin: 0px 125px 0px 125px;
  }
  }
  /*ADD MAX-WIDTH*/
  @media screen and (min-width: 1050px) {
      #container {
      display:grid; 
      grid-template-rows: auto auto auto ;
      grid-template-columns: 1fr 1fr 1fr; 
      grid-template-areas: 
          'about about about'
          'column1 column2 column3'
          'footer footer footer';
      background-color: rgba(57, 79, 94, .3);
      max-width: 1200px;
      margin: 0 auto;
      }
      /*increase margins for about*/
      #item1 p {
      margin: 0px 200px 0px 200px;
  }
  }
  